*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: #333333;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#l_main-wrapper{
    background-color: #f1f1f1;
    flex-grow: 1;

    display: flex;
}

#l_header{
    padding: 1rem;
    background-color: #173f3f;
}

#menu{
    padding: 0;
    display: flex;
    gap: 1rem 0;
    flex-direction: column;
}
#menu a{
    text-decoration: none;
    color: white;
}

#l_main{
    padding: 1rem;
    background-color: #225f5f;
    flex-grow: 1;
}

#l_footer{
    padding: 1rem;
    height: 100px;
    background-color: #0f2a2a;
}