*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(59,50,50), rgb(22,28,29));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main{
    width: 800px;
    height: 600px;
    border: 1px solid white;
    background: linear-gradient(45deg, rgb(36, 64, 94), rgb(117, 72, 97));
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    padding: 1em;
    border-bottom: 1px solid white;
}

/*general information*/
#information{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#information .information-picture{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

#information .information-picture img{
    height: 100%;
}

#information .information-data{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 3em;
}

/*Prevision cell*/
#prevision{
    display: flex;
    flex-direction: column;
    height: 40%;
}

#hours, #days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-grow: 1;
}

#hours div, #days div{
    border-top: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hours div:last-child, #days div:last-child{
    border-right: 0px solid white;
}